{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid container" >
    <a class="navbar-brand brand-logo" href="/">KINGA'S BOOKSTORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link active" aria-current="page" href="{% url 'App_marketplace:products' %}">Products</a>
          <a class="nav-link active" aria-current="page" href="{% url 'book_review:book_review_list' %}">Book reviews</a>
          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
          {% if user.is_authenticated %}
            <a class="nav-link" href="#" title="Logout"> Hi, {{user.username}}
              <i class="fas fa-user"></i>
            </a>
          <li class="nav-link">
            <form  action="{% url 'logout' %}" method="POST" style="margin-top: 5; margin-bottom: 0px;">
              {% csrf_token %}
              <button type="submit" style="border: 0; background-color: transparent; color: #fff;">
                <i class="fa-solid fa-sign-out-alt"></i>
              </button>
            </form>
          </li>

            <a class="nav-link" href="{% url 'App_marketplace:cart' %}" title="Cart">
              <i class="fa-solid fa-shopping-cart" style="margin-top: 5px;"></i>
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'App_marketplace:login' %}" title="Login">
              <i class="fa-solid fa-sign-in-alt" style="margin-top: 5px;"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}



